* {

    box-sizing: border-box;
}

.section-3 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100vh;
    width: 100%;
    background-color: blue;
    flex-wrap: wrap;
    flex-flow: 0 1 auto;
}

.section-1 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 575px;
    width: 100%;
    flex-wrap: wrap;
    flex-flow: 0 1 auto;
}

.section-2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 575px;
    width: 100%;
    flex-wrap: wrap;
    flex-flow: 0 1 auto;
    align-items: center;
    justify-content: space-between;
}

/* buttons */
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.buttons button {
    margin: 4px 2px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    height: 500px
}

.text p {
    font-size: 60px;
}

.image {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 50%;
    height: 500px;
    content: url('../images/DSC_0121__1_-removebg-preview.png');
    border-radius: 300px;
    border: 1px solid #F2F2F2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

.about-me {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: auto;
    height: 500px
}

.about-me p {
    font-size: 20px;
}

.about-me h2 {
    text-align: center;
    font-size: 60px;
}

.imagess {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.alx,
.app {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #DDDDDD;
    margin-top: 20px;
}

.alx {
    content: url('../images/download.png');
    background-repeat: no-repeat;
    margin: 10px;
    background-size: contain;
}

.app {
    content: url('../images/appacademy_logo.png');
    background-repeat: no-repeat;
    margin: 10px;
    height: 100px;
    width: 250px;
    background-size: contain;
}

.skills {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: auto;
    height: 500px
}

.container {
    width: 100%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
    height: 30px;
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: black;
    /* White text color */
}

.skills h2 {
    text-align: center;
    font-size: 60px;
}

.html {
    width: 90%;
    background-color: #04AA6D;
    height: 30px;
    display: flex;
    align-items: center;


}

/* Green */
.css {
    width: 80%;
    background-color: #2196F3;
    height: 30px;
    display: flex;
    align-items: center;
}

/* Blue */
.js {
    width: 65%;
    background-color: #f44336;
    height: 30px;
    display: flex;
    align-items: center;

}

/* Red */
.php {
    width: 60%;
    background-color: #808080;
    height: 30px;
    display: flex;
    align-items: center;

}

/* Dark Grey */
/* form */
fieldset {
    border: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.section-11 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-links {
    display: flex;
    height: 300px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.website-links ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.website-links h1 {
    height: 20%;
}

.website-links ul li a {
    display: block;
    height: 100%;
    width: 100%;
}

img {
    display: flex;
    height: 200px;
    width: 200px;
}

/* about section */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    flex-basis: 33.33%;
    padding: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
